.container {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.center {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  margin-top: 50px;
  width: auto;
  height: 50px;
}
.containerX {
  width: 38%;
  height: 800px;
  margin-top: 40px;
  margin-bottom: 20px;
  background-color: transparent;
  display: flex;
  flex-direction: column;
}

.box {
  background-position: center;
  background-size: 200px;
  background-repeat: no-repeat;
  position: relative;
  width: 50%;
  height: 60px;
  display: flex;
  flex-direction: row;
  margin: auto;
  border-radius: 200px;
  align-items: center;
  justify-content: center;
}
.alert {
  margin: auto;
  font-size: medium;
  font-weight: bolder;
  color: red;
}
