.container {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.centerPro {
  padding-top: 0px;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  height: 50px;
  margin-bottom: 5px;
  margin-top: 30px;
}
.extra1 {
  width: 38%;
  height: 800px;
  margin-top: 40px;
  margin-bottom: 20px;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

label {
  font-size: x-large;
}
form {
  width: 80%;
  margin-left: 70px;
  margin-top: 0px;
  margin-bottom: 70px;
}
input {
  border-radius: 10px;
  border-color: white;
  width: 80%;
  height: 20px;
  font: 1em/1.25em Arial, Helvetica, sans-serif;
}
textarea {
  border-radius: 10px;
  width: 80%;
  height: 200px;
  border-color: white;
  font: 1em/1.25em Arial, Helvetica, sans-serif;
}
